<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page.title}} - {{site.title}}</title>
        <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Roger Ehmpke">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>

  <body>
          <header id="header" class="global-header container">
      <div class="row">
        <div class="col">
            <h1><a href="https://www.rogerehmpke.com" class="logo--header">Roger Ehmpke</a></h1>
        </div>
        </div>
    </header>
    {{ content }}
        <footer class="global-footer" role="contentinfo">
          <div class="footer-site-map">
            <div class="row space-top">
              <div class="col-md-12 col-lg-12 col text-center">
                <p><a title="Twitter" aria-label="Twitter" href="http://twitter.com/rehmpke" class="social-sharing-icon white" style=""><i class="fa fa-twitter"></i></a>
                  <a title="Github" aria-label="Github" href="https://github.com/rehmpke" class="social-sharing-icon white" style=""><i class="fa fa-github"></i></a>
                <a title="LinkedIn" aria-label="LinkedIn" href="https://www.linkedin.com/in/rogerehmpke" class="social-sharing-icon white" style=""><i class="fa fa-linkedin"></i></a>
              <a title="Codepen" aria-label="Codepen" href="https://codepen.io/rehmpke/" class="social-sharing-icon white" style=""><i class="fa fa-codepen"></i></a></p>
                <p>© 2018 <a href="https://www.rogerehmpke.com">Roger Ehmpke</a></p>
              </div>
            </div>
          </div>
        </footer>
  </body>

</html>
