
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Roger Ehmpke's blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Home to my blog">
    <meta name="author" content="Roger Ehmpke">
  </head>

  <body>
    {{ content }}
    <footer class="global-footer">
      <section class="footer-site-map">
         <h2 class="section-title">Roger Ehmpke</h2>

      </section>

      <small>&copy; 2018
        <span translate="no">Roger Ehmpke's</span>blog</small>
      <div itemscope itemtype="http://schema.org/Person">
        <div itemprop="name">
          <strong>
            <span translate="no">Roger Ehmpke</span>
          </strong>
        </div>
      </div>
    </footer>
  </body>

</html>
